
body {
    -webkit-user-select: none;
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #06ae8f;

}
.title {
    font-family: "Bauhaus 93";
    color: #fc4242;
    font-size: 96px;
    margin: 5px;
    text-align: center;

}

#popup {
    background-color: #fc4242;
    border: #72f3db solid 2px;
    font-family: 'Roboto', sans-serif;
    color: white;
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    text-align: center;
    border-radius: 4px;
    padding: 16px;
    position: fixed;
    z-index: 1;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#popup.show {
    visibility: visible;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
  }
  
  @keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
  }
  
  @-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
  }
  
  @keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
  }


.devtools {
    width: 150px;
    height: 50px;
    background-color: #0f0f0f;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
}

canvas{
    box-shadow: black 20px 10px 50px;
}

button {
    width: 150px;
    height: 50px;
    background-color: #0f0f0f;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
}

.leaderboard {
    display: none;
    /*put this to the middle right*/
    position: fixed;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    background-color: #0f0f0f;
    color: white;
    font-size: 20px;
    height: 230px;
    border: none;
    border-radius: 10px;
    margin: 10px;
}

.leaderboardContent {
height: available;
}

.speedBtn {
    width: 150px;
    height: 50px;
    background-color: #0f0f0f;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: pointer;
    display: none;
}

input {
    width: 200px;
    height: 50px;
    background-color: #0f0f0f;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: text;
}

.colorInput {
    height: 50px;
    background-color: #0f0f0f;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: default;
}



/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #b6b3b3;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.dev-content {
    background-color: #b6b3b3;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



.fps {
    display: none;
    font-family: monospace;
    font-size: 40px;
    position:absolute;
    top:0;
    right:0;
    color: white;
    font-size: 30px;
    margin: 10px;

}

.devWarning {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    font-family: monospace;
    font-color: #ff0000;
}

.colorModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    font-family: monospace;
    font-color: #ff0000;
}

.color-content {
    background-color: #b6b3b3;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.colorInput {
    cursor: pointer;
}

.bgModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    font-family: monospace;
    font-color: #ff0000;
}

.bg-content {
    background-color: #b6b3b3;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}
.appleModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    font-family: monospace;
    font-color: #ff0000;
}

.apple-content {
    background-color: #b6b3b3;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


.nameModal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.6); /* Black w/ opacity */
    font-family: monospace;
    font-color: #ff0000;
}

.name-content {
    background-color: #b6b3b3;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 40%; /* Could be more or less, depending on screen size */
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}



.bgInput {
    cursor: pointer;
}

.appleBtn {
    display: none;
}

.nameButton {
    display: none;
}

.appleInput {
    cursor: pointer;
}



/*
.soundModal {
    position: fixed; !* Stay in place *!
    z-index: 1; !* Sit on top *!
    left: 0;
    top: 0;
    width: 100%; !* Full width *!
    height: 100%; !* Full height *!
    overflow: auto; !* Enable scroll if needed *!
    background-color: rgb(0,0,0); !* Fallback color *!
    background-color: rgba(0,0,0,0.6); !* Black w/ opacity *!
    font-family: monospace;
    font-color: #ff0000;
}

.sound-content {
    background-color: #b6b3b3;
    margin: 15% auto; !* 15% from the top and centered *!
    padding: 20px;
    border: 1px solid #888;
    width: 40%; !* Could be more or less, depending on screen size *!
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

.inputSound {
    width: 300px;
    height: 50px;
    background-color: #0f0f0f;
    color: white;
    font-size: 20px;
    border: none;
    border-radius: 10px;
    margin: 10px;
    cursor: text;
}
*/


.setColorBtn {
    display: none;
}

.setSoundBtn {
    display: none;
}

.bgButton {
    display: none;
    height: 50px;
    width: auto;
}

.highscore {
    font-family: monospace;
    font-size: 20px;
}


/* Add Animation */
@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}

/* The Close Button */
.close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

